<!-- Tooxic -->
<div class="container mt-5">

    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addFriend">
        Add friend
    </button>
    <button type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop" class="btn btn-warning position-relative">
        Pendings <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"><%= PendingFriends.length %> <span class="visually-hidden">unread messages</span></span>
    </button>
    <!-- <button class="btn btn-danged">Blocked</button> -->
    
    <div class="container d-flex mt-3 flex-wrap justify-content-center">
        <!-- Loop for each friend here -->
        <% Friends.forEach(friend => { %>
            <div class="card bg-secondary m-2" style="width: 14rem;">
                <img src="<%= friend.profile_picture %>" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><%= friend.username %> </h5>
                  <h5 class="card-title text-primary"><%= friend.tag %> </h5>
                  <a href="#" class="btn btn-primary">Start a chat</a>
                  <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#removefriend">
                    Remove friend
                </button>
                </div>
              </div>
        <% }) %>


    </div>


  
    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Pending friend requests</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            <% PendingFriends.forEach(friends => { %>

                <% friends.googleIds.forEach(a => { %>
                    <% if (!friends.sentId.includes(googleId)) { %>
                        <%= a.username %>
                        <form action="/friends/accept/<%= a.googleId %>" method="post">
                            <button type="submit">Accept</button>
                        </form>
                    <% } %>
                <% }) %>
            <% }) %>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
        </div>
    </div>

        <!-- Add friend -->
        <div class="modal fade" id="addFriend" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Pending friend requests</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p id="friendMessage"></p>
                    <input id="friend" type="">
                    <button id="sendFriendButton" button type="button" class="btn btn-secondary">Send</button>

                    <script>
                        const a = document.querySelector("#sendFriendButton");
                        a.addEventListener("click", () => {
                            const b = document.querySelector("#friend").value;
                            const s = document.querySelector("#friendMessage");
                            fetch(`/friends/add/${b}`, {
                                method: "POST"
                            }).then(e => e.json())
                            .then(res => {
                                console.log(res);
                                s.innerHTML = res.msg;
                            })
                        })
                    </script>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
            </div>
        </div>
     <!-- Add friend -->
     <div class="modal fade" id="removefriend" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" class="btn btn-danger" id="staticBackdropLabel">Remove friend</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <button id="sendFriendButton" class="btn btn-danger">Remove</button>
                <script>
                    const a = document.querySelector("#sendFriendButton");
                    a.addEventListener("click", () => {
                        const b = document.querySelector("#friend").value;

                        fetch(`/friends/add/${b}`, {
                            method: "POST"
                        })
                    })
                </script>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
        </div>
    </div>   

</div>