<!-- Tooxic -->
<div class="container">

    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addFriend">
        Add friend
    </button>
    <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        Pending
    </button>
    <!-- <button class="btn btn-danged">Blocked</button> -->
    
    <div class="container d-flex flex-wrap justify-content-center">
        <!-- Loop for each friend here -->
        <% Friends.forEach(friend => { %>
            <div class="card" style="width: 18rem;">
                <img src="<%= friend.profile_picture %>" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><%= friend.username %> </h5>
                  <h5 class="card-title"><%= friend.tag %> </h5>
                  <a href="#" class="btn btn-primary">Start a chat</a>
                  <a href="#" class="btn btn-primary">Remove friend</a>
                </div>
              </div>
        <% }) %>


    </div>


  
    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Pending friend requests</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            <% PendingFriends.forEach(friends => { %>

                <% friends.googleIds.forEach(a => { %>
                    <% if (!friends.sentId.includes(googleId)) { %>
                        <%= a.username %>
                        <form action="/friends/accept/<%= a.googleId %>" method="post">
                            <button type="submit">Accept</button>
                        </form>
                    <% } %>
                <% }) %>
            <% }) %>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Understood</button>
            </div>
        </div>
        </div>
    </div>

        <!-- Modal -->
        <div class="modal fade" id="addFriend" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Pending friend requests</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input id="friend" type="">
                    <button id="sendFriendButton">Send</button>

                    <script>
                        const a = document.querySelector("#sendFriendButton");
                        a.addEventListener("click", () => {
                            const b = document.querySelector("#friend").value;

                            fetch(`/friends/add/${b}`, {
                                method: "POST"
                            })
                        })
                    </script>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
            </div>
        </div>

</div>